
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

#contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  border: 2px solid black;
  background-image: url('../svg/fondo.svg'); 
  background-size: cover;
}
